{% extends "core/base.html" %}

{% block content %}
<div class="wrapper">
    <h1>Login</h1>
    <p>Auth cookie: {{ auth_cookie }}</p>
    <p>Message: {{ message }}</p>
    <form role="form">
        <div class="form-group login-box">
            <label for="userInput">User</label>
            <input type="text" class="form-control" id="userInput" placeholder="username">

            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="password"><br>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
