{% extends "core/base.html" %}

{% block content %}
<div class="wrapper">
    <h1>Login</h1>
    <img src="data:image/png;base64,{{ qrcode }}">
    <form role="form" action="{% url 'login' %}" method="post">{% csrf_token %}
        <div class="form-group login-box">
            <label for="emailInput">Email</label>
            <input type="text" class="form-control" id="emailInput" name="email" placeholder="email">

            <label for="passwordInput">Senha</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="senha">

            <input type="hidden" class="form-control" id="tokenInput" name="token" value="{{ token }}">

            <br>
        </div>
        <button type="submit" class="btn btn-default">Logar</button>
    </form>
</div>
{% endblock %}
