{% extends "core/base.html" %}

{% block content %}
<div class="wrapper">
    <h1>Login</h1>
    <img src="data:image/png;base64,{{ qrcode }}">
    <form role="form" action="{% url 'barcode_login' %}" method="post">{% csrf_token %}
        <div class="form-group login-box">
            <label for="userInput">User</label>
            <input type="text" class="form-control" id="userInput" name="username" placeholder="username">

            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password"><br>

            <input type="hidden" class="form-control" id="passwordInput" name="auth_cookie" value="{{ token }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
