{% extends "core/base.html" %}

{% block content %}
<div class="wrapper">
    {% if not success %}
    <h1>Autenticação de Token</h1>
    <form role="form" action="{% url 'auth_token' token %}" method="post">{% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-default">Autenticar</button>
    </form>
    {% else %}
    <div class="text-center">
        <br><br><br><br>
        <span class="glyphicon glyphicon-ok" style="color:green;font-size:100px"></span>
        <h2>Autenticado</h2>
    </div>
    {% endif %}
</div>
{% endblock %}
