{% extends "core/base.html" %}

{% block content %}
<div class="wrapper">
    <h1>Autenticação de Token</h1>
   <form role="form" action="{% url 'token_authentication' %}" method="post">{% csrf_token %}
        <div class="form-group login-box">
            <label for="emailInput">Email</label>
            <input type="text" class="form-control" id="emailInput" name="email" placeholder="email">

            <label for="passwordInput">Senha</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="senha">

            <label for="tokenInput">Token</label>
            <input type="text" class="form-control" id="tokenInput" name="token" value="{{ token }}" readonly>

            <br>
        </div>
        <button type="submit" class="btn btn-default">Autenticar</button>
    </form>
</div>
{% endblock %}
